@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --Green500: hsl(158, 36%, 37%);
  --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
  --DesaturatedDarkBlue: hsl(214, 17%, 51%);
  --GrayishBlue: hsl(212, 23%, 69%);
  --LightGrayishBlue: hsl(210, 46%, 95%);
  --White: hsl(0, 0%, 100%);

  --FontPrimary: 'Manrope', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--LightGrayishBlue);
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100vh;
  padding: 20px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 910px;
}

.text-content {
  background-color: var(--White);
  border-radius: 0px 12px 12px 0px;
  padding: 50px;
  flex: 60%;
}

.picture-content {
  flex: 40%;
}

.picture-content img {
  border-radius: 12px 0px 0px 12px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.with-icon {
  display: flex;
  align-items: center;
  gap: 1em;
}

.with-icon > :last-child {
  margin-left: auto; /* 把最後一個元素推到右邊 */
}

.share-icon {
  background-color: var(--LightGrayishBlue);
  border-radius: 50%;
  background-image: url('images/icon-share.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  width: 36px;
  height: 36px;
  cursor: pointer;  
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

h1 {
  font-family: var(--FontPrimary);
  font-size: 24px;
  font-weight: 800;
  line-height: 1.2;
  color: var(--VeryDarkGrayishBlue);
}

p {
  padding: 20px 0px 30px 0px;
  font-family: var(--FontPrimary);
  font-size: 16px;
  color: var(--DesaturatedDarkBlue);
  line-height: 1.5;
}

.name {
  font-family: var(--FontPrimary);
  font-weight: 700;
  color: var(--VeryDarkGrayishBlue);
}

.date {
  font-family: var(--FontPrimary);
  color: var(--GrayishBlue);
  font-size: 14px;
}


@media (max-width: 1200px) {
  .flex-container {
    max-width: 584px;
  }

  .picture-content img {
    border-radius: 12px 12px 0px 0px;
    object-fit: cover;
    object-position: 0px;
  }

  .text-content {
    border-radius: 0px 0px 12px 12px;
    flex: 100%;
  }

  .picture-content {
    flex: 100%;
  }

  h1 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }
}