@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --Green500: hsl(158, 36%, 37%);
  --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
  --DesaturatedDarkBlue: hsl(214, 17%, 51%);
  --GrayishBlue: hsl(212, 23%, 69%);
  --LightGrayishBlue: hsl(210, 46%, 95%);
  --White: hsl(0, 0%, 100%);

  --FontPrimary: 'Manrope', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--LightGrayishBlue);
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100vh;
  padding: 20px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 910px;
}

.text-content {
  background-color: var(--White);
  border-radius: 0px 12px 12px 0px;
  padding: 50px;
  flex: 60%;
}

.picture-content {
  flex: 40%;
}

.picture-content img {
  border-radius: 12px 0px 0px 12px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.with-icon {
  display: flex;
  align-items: center;
  gap: 1em;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.with-icon > :last-child {
  margin-left: auto; /* 把最後一個元素推到右邊 */
}

.share-icon {
  background-color: var(--LightGrayishBlue);
  border-radius: 50%;
  background-image: url('images/icon-share.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  width: 36px;
  height: 36px;
  cursor: pointer;  
}

.share-container {
  display: flex;
  flex-direction: column;
}

.share-box {
  position: absolute;
  background-color: var(--VeryDarkGrayishBlue);
  border-radius: 12px;
  padding: 10px 25px;
  display: flex;
  align-items: center;
  z-index: 1;
  font-family: var(--FontPrimary);
  bottom: 475px;
  right: 460px;
  display: none;
}

.share-box > :first-child {
  letter-spacing: 5px;
  color: var(--GrayishBlue);
  margin-right: 10px;
}

.share-box > .share_btn {
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 36px;
  cursor: pointer;   
}

.share-triangle {
  position: absolute;
  bottom: 460px;
  right: 560px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid var(--VeryDarkGrayishBlue); /* 三角形顏色 */
  display: none;
}

h1 {
  font-family: var(--FontPrimary);
  font-size: 24px;
  font-weight: 800;
  line-height: 1.2;
  color: var(--VeryDarkGrayishBlue);
}

p {
  padding: 20px 0px 30px 0px;
  font-family: var(--FontPrimary);
  font-size: 16px;
  color: var(--DesaturatedDarkBlue);
  line-height: 1.5;
}

.name {
  font-family: var(--FontPrimary);
  font-weight: 700;
  color: var(--VeryDarkGrayishBlue);
}

.date {
  font-family: var(--FontPrimary);
  color: var(--GrayishBlue);
  font-size: 14px;
}

@media (max-width: 1200px) {
  .flex-container {
    max-width: 584px;
  }

  .picture-content img {
    border-radius: 12px 12px 0px 0px;
    object-fit: cover;
    object-position: 0px;
  }

  .text-content {
    border-radius: 0px 0px 12px 12px;
    flex: 100%;
    padding: 30px;
  }

  .picture-content {
    flex: 100%;
  }

  .share-box {
    width: 90%;
    border-radius: 0px 0px 12px 12px;
    height: 100px;
    bottom: 165px;
    right: 20px;
    z-index: 1;
    flex: 100%;
  }

  .share-icon {
    background-color: var(--DesaturatedDarkBlue);
    background-image: url('images/icon-share_white.svg');
    z-index: 2;
  }

  .share-triangle {
    display: none;
  }

  h1 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }

  .name {
    font-size: 14px;
  }

  .date {
    font-size: 13px;
  }
}